<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
<form method="POST" action="/bops">
  <p>your name: <input type="text"
  name="name">
  </p>

<p>a good bop: <input type="text" name="bop"></p>
<p>by who? <input type="text" name="author">
</p>
<p>celebrity crush: <input type="text" name="celebrity_crush">
<p>adjective that can describe a person: <input type="text" name="adjective"></p>
</p>

<input type="submit">
</form>
  </body>
</html>
